[submodule "src/userplugins/src/userplugins/bigFileUpload"]
	path = src/userplugins/src/userplugins/bigFileUpload
	url = https://github.com/ScattrdBlade/bigFileUpload
[submodule "src/userplugins/bigFileUpload"]
	path = src/userplugins/bigFileUpload
	url = https://github.com/ScattrdBlade/bigFileUpload
[submodule "src/userplugins/keywordNotify"]
	path = src/userplugins/keywordNotify
	url = https://github.com/x3rt/vencord-KeywordNotify
[submodule "src/userplugins/viewRoleMembers"]
	path = src/userplugins/viewRoleMembers
	url = https://git.nin0.dev/userplugins/in-role
